{% extends 'form/base.html' %}

{% block body %}

		<div class="row">
			<div class="col-md">
				
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Feedbacks Received</th>
						</tr>
						
                         {% for i in feedbacks %}

                            <tr>
                            <td>   
                         {{i.feedbacks}}</td>
                     </tr>

                         {% endfor %}

					</table>
				</div>
			</div>
			
		</div>

{% endblock %}